@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');

:root {
  --green: #41582e;
  --beige: #fffff7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif JP', serif !important;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: var(--beige);
    color: var(--beige) !important;
    font-family: 'Noto Serif JP', serif !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

.model-link {
  color: #ffffffd2;
}

.model-link:hover {
  color: #fff;
}

.job-page-images {
  background-color: var(--beige);
  height: 100vh;
  padding: 50px 100px 100px 100px;
  justify-content: center;
}

.dev-page {
  background-color: #000;
}

.experience-wrapper, .skill-wrapper {
  display: block;
  top: 150px;
}

nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition:  0.32s ease-in-out;
  }
  nav.navbar.scrolled {
    padding: 0px 0;
    background-color: #121212 !important;
  }
  nav.navbar a.navbar-brand {
    color: #fff;
    width: 9%;
    font-size: 1.5rem;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
  }
  nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
  nav.navbar .navbar-nav a.nav-link.navbar-link.active {
      opacity: 1;
  }
  span.navbar-text {
      display: flex;
      align-items: center;
  }

  .dev-social-icon {
    color: #fff;
    width: 18px;
    height: 18px;
  }

  .social-icon {
      display: inline-block;
      margin-left: 14px;
  }
  .social-icon a {
      width: 42px;
      height: 42px;
      background: rgba(217, 217, 217, 0.1);
      display: inline-flex;
      border-radius: 50%;
      margin-right: 6px;
      align-items: center;
      justify-content: center;
      line-height: 1;
      border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .social-icon a::before {
      content: "";
      width: 42px;
      height: 42px;
      position: absolute;
      background-color: #ffffff;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.3s ease-in-out;
  }
  .social-icon a:hover::before {
      transform: scale(1);
  }
  .social-icon a img {
      width: 40%;
      z-index: 1;
      transition: 0.3s ease-in-out;
  }
  .social-icon a:hover img {
      filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
  }
  .navbar-text button {
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    /* padding: 18px 34px; */
    padding: 10px 15px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
  }

  .navbar-text button span {
    z-index: 1;
  }
  .navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }

  .navbar-text button a {
    color: #fff;
    text-decoration: none;
  }

  .navbar-text button a:visited {
    color: #fff;
    text-decoration: none;
    color: inherit;
  }

  .navbar-text button:hover {
    color: #121212;
  }
  .navbar-text button:hover::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
  }
  nav.navbar .navbar-toggler:active,
  nav.navbar .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
  }
  nav.navbar .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #fff;
    transition: all 300ms linear;
    top: -2px;
  }
  nav.navbar .navbar-toggler-icon:focus {
      border-bottom: 2px solid #fff;
  }
  nav.navbar .navbar-toggler-icon:after,
  nav.navbar .navbar-toggler-icon:before {
      width: 24px;
      position: absolute;
      height: 2px;
      background-color: #fff;
      top: 0;
      left: 0;
      content: '';
      z-index: 2;
      transition: all 300ms linear;
  }
  nav.navbar .navbar-toggler-icon:after {
      top: 8px;
  }
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
      transform: rotate(45deg);
      background-color: #fff;
      height: 2px;
  }
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
      transform: translateY(8px) rotate(-45deg);
      background-color: #fff;
      height: 2px;
  }
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
      border-color: transparent;
  }

  .social-icon i {
    color: #fff;
  }

  .social-icon a {
    text-decoration: none;
  }
  
  /* banner */
  .banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    /* background-image: url('./assets/images/banner-bg.png'); */
    background-image: url('./assets/images/galaxy.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    /* consider changing background */
    background: linear-gradient(90.21deg, rgba(128, 101, 76, 0.5) -5.91%, rgba(45, 29, 79, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}

.banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    font-family: 'Noto Serif JP', serif;
  }

.banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
  
  .banner img {
    animation: updown 3s linear infinite;
    width: 400px;
    height: 400px; 
    margin-left: 50px;
  }

  @keyframes updown {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
  }

  text-rotate > .wrap {
    border-right: 0.08em solid #666;
  }

  /* Skills */
  .skill {
    padding: 0 0 50px 0;
    position: relative;
    background-color: #000;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .skill-bx {
    background: #151515;
    border-radius: 64px;
    text-align: center;
    /* padding: 60px 0px; */
    /* margin-top: -60px; */
  }

  .skill h2, .experience h2, .projects h2 {
      font-size: 45px;
      font-weight: 700;
      margin: 50px;
  }

  .skill h2 {
    padding-top: 40px;
  }

  .skill p {
      color: #B8B8B8;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 14px 0 75px 0;
  }
  .skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  .image-item {
    padding-left: 100px;
    padding-right: 0px;
    
  }

  .item {
    width: 30%;
    margin: 100px;
  }

  .skills-slider {
    height: 300px;
  }

  .skills-slider .react-multi-carousel-track .image-item{
    text-decoration: none;
    padding-left: 60px;
  } 

  .background-image-left {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: 0;
  }
  
/* Projects */
.projects {
    width: 100%;
    text-align: center;
    background-color: #000;

}

.project-container {
  margin: 70px;
}

.project-description {
  margin: 30px;
}

.projects .nav.nav-pills {
  border: 1px solid #fff;
  border-radius: 50px;
}

.nav-link#projects-tabs-tab-planit {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}

.nav-link#projects-tabs-tab-spa {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px;
}

.nav-link#projects-tabs-tab-aws {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 55px 55px 0px;
}

.nav-link#projects-tabs-tab-planit:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}

.projects .nav.nav-pills .nav-link {
  color: #fff;
}

.projects .nav.nav-pills .nav-link:hover, .projects .nav.nav-pills .nav-link.active {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
}

.project-container .badge {
  padding: 5px 10px 5px 10px;
  margin: 5px;
}

.project-image {
  width: 80%;
  height: 80%;
  padding: 15px;
  border: 1px #AA367C groove;
  border-radius: 10px;
}

.project-links {
  padding-bottom: 35px;
}

.project-links a {
  width: 40%;
  text-decoration: none;
  color: #fff;
  border: 1px #4A2FBD solid;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
}

.badge-container {
  margin-top: 20px;
}


/* Experience */
.experience {
  text-align: center;
}

.experience-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-description {
  z-index: 1;
  transform: translateY(-400px);
}

.experience-container .col{
  display: flex;
  justify-content: center;
}

.experience-container img {
  margin: 30px;
}

.experience-container .modal-body {
  height: 1000px;
}

.experience-item-img {
  background-color:rgba(197, 197, 197, 0.498);
  width: 300px;
  height: 300px; 
  border-radius: 10px;
  /* box-shadow: 10px 10px 4.5px rgb(99, 91, 101); */
  z-index: 11;
}

.experience-item-img:hover {
  cursor:pointer;
}

.experience-item-img img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.experience-item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  height: 300px;
  margin: 30px;
}

.experience-item-tabs {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.experience-item-tabs .nav-item {
  margin: 30px 0px 30px 0px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.experience-item-tabs .nav-item:hover {
  cursor: pointer;
}

.experience-item-tabs .nav-item.active {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  border-radius: 10px;
}

.experience-item-desc {
  align-self: center;
  padding: 30px;
  font-size: 1rem;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-300px)
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-300px)
  }
  100% {
    transform: translateX(0)
  }
}

.vertical-line.active{
  border-left: 1.5px solid #AA367C;
  height: 100%;  
  margin-left: 30px;
  visibility: 1;
  opacity: 1;
  
}

.vertical-line.inactive {
  visibility: 0;
  opacity: 0;
}

.card:hover {
  cursor:pointer;
}

/* Profile */

.profile-container {
  height: 100vh;
  padding-top: 110px;
  background-color: var(--beige);
}

.profile-container .nav-link {
  color:#000;
}

.profile-pic {
  width: 100%;
}

.profile-nav {
  width: 150px;
  align-content: center;
}

.profile-nav-item {
  border: 1px solid #000;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

.profile-container .nav.nav-pills .nav-link:hover, .profile-container .nav.nav-pills .nav-link.active {
  background: #f3eede;
  border-radius: 0px;
  border: 1px var(--green) solid;
  color: #41582e;
}

.profile-container .nav.nav-pills .nav-link {
  transition: ease-in-out 0.5s;
}

.profile-container .nav.nav-pills .nav-link:hover, .profile-container .nav.nav-pills .nav-link.active {
  transform: scale(1.1);
}

.profile-container .tab-content .tab-pane p{
  color: var(--green);
}

.profile-nav-item.inactive, .profile-nav-item.inactive .nav-link {
  border: 1px #41582e27 solid;
  border-radius: 0px;
  color: #41582e5a;
}

.profile-container img {
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.agencies-container .row {
  margin: 10px 0px 10px 0px;
}

.agencies-container .nav-link {
  text-decoration: underline;
}

.stats-container .switch {
  color: var(--green);
  margin-top: 20px;
}

.stats-container .switch-icon:hover {
  cursor:pointer;
}

.stats-container .row {
  margin-top: 10px;
}

.info-container p {
  text-align: center;
}



/* Portfolio  */

.filter-text {
  z-index: 1;
  position: absolute;
  font-size: 4rem;
  width: 100%;
  top: 55px;
  /* left: 220px; */
  color: var(--green);
  font-style: italic;
}

.filter-cover-img {
  position:relative;
  top: 0px;
  left: 0;
  right:0;
  bottom:0;
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;
  margin: auto;
}

.filter-cover-wrap {
  position:relative;
  text-align: center;
  padding-top: 100px;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: var(--beige);
}

/* Socials  */

.side-socials {
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 1;
}

.side-socials-icon{
  width: 20px;
  height: 20px;
  margin: 10px;
  color: var(--green);
}

.side-socials ul {
  padding-left: 0;
  list-style-type: none
}


.side-socials::after{
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--green);
}

@media screen and (max-width: 768px) {
  /* Profile */
  .profile-pic {
    padding-left: 50px;
    padding-right: 50px;
  }

  .profile-nav {
  }

  /* Banner  */ 
  .banner {
    padding: 150px 20px 70px 20px;
  }
  
  .banner img {
    margin-left: 0px;
  }

  .skills-slider .react-multi-carousel-track .image-item {
    padding-left: 70px;
  }

  .item {
    width: 70%;
  }

  /* Project */
  .project-container {
    margin: 70px 40px 70px 40px;
  }
}

.home,
.services,
.products,
.sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.sign-up {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    color: antiquewhite;
    font-size: 100px;
}